.img-thumbnail img {
    width: 100%
}

.img-thumbnail {
    padding: 0
}

.img-thumbnail .caption {
    padding: 9px
}

#delete-form {
     display: inline
}

.img-thumbnailnew{
    
    height: 230px;
    overflow: hidden;
}

/* .row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
} */